OUTLOOK_SMTP_HOST=smtp.office365.com
OUTLOOK_SMTP_PORT=587
OUTLOOK_SMTP_USER=
OUTLOOK_SMTP_PASS=
ENQUIRY_TO_EMAIL=
ENQUIRY_FROM_EMAIL=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=Sheet1
